# Ignore Python cache
__pycache__/
*.pyc
*.pyo
# Ignore Django-specific cache and migration files
db.sqlite3
*.log
*.pot
*.py[co]



#Ignore saved nodes
project/saved/*
project/core/test_saved/*
project/exports/*
project/core/saved/*
project/core/exports/*
chatbot/credentials/*
chatbot/logs/*

#Ignore environment folder
backend/*