# ============================= Application ============================= #
app_name="AI-NO"
app_version="1.0.0"
debug=1
environment="development"

FILE_MAX_SIZE_MB=50
FILE_ALLOWED_TYPES=["application/json", "text/csv", "application/octet-stream"]
FILE_STORAGE_PATH="data/files"
FILE_DEFAULT_CHUNK_SIZE=524288

SECRET_KEY="change_me_in_production"
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=14

# ============================= PostgreSQL ============================= #
POSTGRES_HOST="localhost"
POSTGRES_PORT=5432
POSTGRES_MAIN_DB="aino_db"
POSTGRES_USERNAME="postgres"
POSTGRES_PASSWORD=""

# ============================= Qdrant ============================= #
VECTOR_DB_BACKEND="QDRANT"
VECTOR_DB_PATH="data/database"
VECTOR_DB_PATH_NAME="qdrant_db"
VECTOR_DB_DISTANCE_METRIC="cosine"
QDRANT_HOST="localhost"
QDRANT_PORT=6333

# ============================= LLM ============================= #
GENERATION_BACKEND="GROQ"
EMBEDDING_BACKEND="COHERE"
OPENAI_API_KEY=""
COHERE_API_KEY=""
GROQ_API_KEY=""
BASE_API_URL=""
GENERATION_MODEL_ID="qwen/qwen3-32b"
EMBEDDING_MODEL_ID="embed-multilingual-light-v3.0"
EMBEDDING_MODEL_SIZE=384
DEFAULT_GENERATION_TEMPERATURE=0.1
DEFAULT_GENERATION_OUTPUT_MAX_TOKENS=512
DEFAULT_GENERATION_INPUT_MAX_CHARACTERS=4096

# ============================= Celery ============================= #
CELERY_BROKER_URL="amqp://guest:guest@localhost:5672//"
CELERY_RESULT_BACKEND="redis://localhost:6379/0"
CELERY_TASK_SERIALIZER="json"
CELERY_RESULT_SERIALIZER="json"
CELERY_ACCEPT_CONTENT=["json"]
CELERY_TASK_TIME_LIMIT=600
CELERY_ACKS_LATE=true
CELERY_WORKER_CONCURRENCY=2
CELERY_BEAT_SCHEDULE_INTERVAL=3600
CELERY_BEAT_RETENTION_TIME=86400

# ============================= Logging ============================= #
log_level=INFO
log_format=json

# ============================= Redis ============================= #
redis_url=

# ============================= Language ============================= #
PRIMARY_LANGUAGE="en"
DEFAULT_LANGUAGE="en"
